.menubarContainer{
  position: relative;
  min-width: 1000px;
  padding: 0 22%;
  margin: auto;
  /* text-align: center; */
  border-bottom: 1px solid #e8e8e8;

}
.menubarContainer a,
.menubarContainer a:link,
.menubarContainer a:hover ,
.menubarContainer a:active,
.menubarContainer a:visited{
  position: absolute;
  top: 10px;
  margin-left: -160px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.menubarContainer ul{
  border-bottom: none;
}