body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.menubar-container{
  position: relative;
  min-width: 1000px;
  padding: 0 22%;
  margin: auto;
/* text-align: center; */
  border-bottom: 1px solid #e8e8e8;

}
.menubar-container a,
.menubar-container a:link,
.menubar-container a:hover ,
.menubar-container a:active,
.menubar-container a:visited{
  position: absolute;
  top: 10px;
  margin-left: -160px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.menubar-container ul{
  border-bottom: none;
}

.container{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  /*min-height: 500px;*/
}

.main{
  flex-grow: 1;
  /*background-color: aquamarine;*/
  margin-left: 30px;
}
.content{
 display: flex;
  min-height: 500px;
}
.left{
  order: -1;
  flex-basis: 200px;
}
.container pre {
  margin: 1em 0;
  padding: 10px;
  overflow: auto;
  font-family: Menlo,Monaco,Consolas,Andale Mono,lucida console,Courier New,monospace;
  font-size: 13px;
  word-wrap: normal;
  background: #f6f6f6;
  border-radius: 4px;
}
pre > code code, pre > code{
  padding: 0;
  background-color: transparent;
}

blockquote {
  margin: 0 0 10px;
  padding: 15px 20px;
  background-color: #f1f2f3;
  border-left: 5px solid #ccc;
  color: #666;
  font-style: italic;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}