/*@value primary  #0ff;*/
/*@value green    #aaf200;*/


/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
/*}*/

/*:global (.container) {*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*width: 1000px;*/
    /*!*min-height: 500px;*!*/
/*}*/
.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  /*min-height: 500px;*/
}

.container pre {
  margin: 1em 0;
  padding: 10px;
  overflow: auto;
  font-family: Menlo,Monaco,Consolas,Andale Mono,lucida console,Courier New,monospace;
  font-size: 13px;
  word-wrap: normal;
  background: #f6f6f6;
  border-radius: 4px;
}
pre > code code, pre > code{
  padding: 0;
  background-color: transparent;
}

blockquote {
  margin: 0 0 10px;
  padding: 15px 20px;
  background-color: #f1f2f3;
  border-left: 5px solid #ccc;
  color: #666;
  font-style: italic;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}